/* Header
      ============================= */

.header-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    align-items: flex-start;
}

.header-content {
    display: flex;
}

ul {
list-style-type: none;
}

Body {
    background-image: url(images/headphones_hero_1.jpg);
}




