/* Header
      ============================= */
* {
    margin: 0;
    padding: 0;
}
.header-container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  text-decoration: none;
  /* margin-top: 27px; */
}

.header-logo {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin-top: 10px;
}

.header-content {
  display: flex;
  /* justify-content: space-around; */
  padding: 20px;
}

ul {
  list-style: none;
}

.header-content ul a {
  text-decoration: none;
  color: #ffffff;
  font-family: Source Sans Pro;
  font-size: 12px;
  padding: 20px;
  /* font-style: normal;
  font-weight: 700;
  line-height: normal; */

}

Body {
  background-color: #ffffff;
  width: 1400px;
    height: 3006px;
}

.first-page {
  background-image: url(images/headphones_hero_1.jpg);
  width: 1400px;
  height: 800px;
  position: absolute;
  /* right: -50px; */
  margin: 0;
  padding: 0;
}

.all-container {
  width: 637px;
  height: 313px;
  margin-left: 382px;
  margin-right: 381px;
  margin-top: 372px;
  margin-bottom: 115px;
}

.main-container {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-container p {
  margin: 0;
}

.sub-heading {
  color: #fff;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* align-items: center; */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sub-heading p {
  margin: 0;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-action {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 162px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #ff6565;
  margin-bottom: 50px;
  color: white;
}

.call-action a {
    color: #ffffff;
    font-family: Source Sans Pro;
    font-size: 14px;
    text-decoration: none;
}

.last {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.para {
  color: #fff;
  /* font-family: Source Sans Pro; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.last .div {
  width: 637px;
  height: 104px;
}
