/* Header
      ============================= */

.header-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;
}

.header-logo {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.header-content {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



Body {
    background-image: url(images/headphones_hero_1.jpg);
}

.all-container {
    width: 637px;
    height: 313px;
    margin-left: 382px;
    margin-right: 381px;
    margin-top: 372px;
    margin-bottom: 115px;
}

.main-container {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-container .div {
    width: 578px;
    height: 40px;
}

.sub-heading {
    color: #FFF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-heading .div {
    width: 355px;
    height: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-action {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 162px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 22px;
    background: #FF6565; 
}

.last {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.para {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.last .div {
    width: 637px;
    height: 104px;
}


